extends layout.pug

block content
	section#content
		h2 #{text}
		p
			if hint
				i (Hint: #{hint}.)
		a(href=`/cards/${id}?side=${sideToShow}`) Show the #{sideToShow}.
		br
		a(href=`/cards/`) Go to a random question.